$background: var(--background);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$accent: var(--accent);
.header {
    position: static;
    width: 100%;
    height: fit-content;
    min-height: 3rem;
    margin-bottom: 0.5rem;

    .MuiAppBar {
        width: 100%;
        height: 4rem;
        border-radius: 16px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        .Toolbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .titleWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .itemsWrapper {
                display: flex;
                flex: 1;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                height: 4rem;
            }
            .searchForm {
                height: 2.5rem;
                .searchLabel {
                    position: absolute;
                    margin: auto;
                }
                .searchBar {
                    height: 2.5rem;
                    border-radius: 2rem;
                    & fieldset {
                        border-width: 0.1rem;
                    }
                    & input:focus + fieldset {
                        border-width: 0.1rem;
                    }
                    & input:valid {
                        border-top: transparent;
                    }
                    & input:invalid + fieldset {
                        border-width: 0.15rem;
                        background-color: green;
                        border-color: red;
                    }
                    & input:valid:focus + fieldset {
                        border-top: transparent;
                    }
                }
            }
        }
    }
}

.fillerElement {
    flex: 1;
}
.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 1rem;
}

.settingsWrapper {
    position: relative;
}
