@use '../../_keyframes.scss' as *;
$background: var(--background);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$accent: var(--accent);

//.header {
//    position: static;
//    width: 100%;
//    height: 4rem;
//    min-height: 4rem;
//    z-index: 1100;
//
.MuiAppBar {
    z-index: 1000;
    width: 100%;
    height: 4rem;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .Toolbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 1100;

        .titleWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1200;
            .title {
                font-size: 2rem;
            }
            .subtitle {
                font-size: 1rem;
            }
        }

        .itemsWrapper {
            display: flex;
            position: relative;
            top: 0;
            right: 0;
            align-self: flex-end;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            height: 4rem;
        }
        .searchForm {
            height: 2.5rem;
            .searchLabel {
                position: absolute;
                margin: auto;
            }
            .searchBar {
                height: 2.5rem;
                //border-radius: 2rem;
                & fieldset {
                    border-width: 0.1rem;
                }
                & input:focus + fieldset {
                    border-width: 0.1rem;
                }
                & input:valid {
                    border-top: transparent;
                }
                & input:invalid + fieldset {
                    border-width: 0.15rem;
                    background-color: green;
                    border-color: red;
                }
                & input:valid:focus + fieldset {
                    border-top: transparent;
                }
            }
        }
    }
}
.glowBox {
    --width: 20rem;
    --height: 12rem;
    --offset: -2.5rem;
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: var(--offset);
    margin-left: auto;
    margin-right: auto;
    width: var(--width);
    height: var(--height);
    background: radial-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 70%
    );
    border-radius: 50%;
}

.flexContainer {
    flex: 1;
}

.settingsWrapper {
    position: relative;
    &:hover {
        .iconButton {
            .settingsIcon {
                animation: scaleUp 0.5s forwards;
            }
        }
    }

    .iconButton {
        .settingsIcon {
            &:active {
                animation: rotateClockwise 0.5s forwards;
            }
        }
    }
}

.locationReadoutWrapper {
    width: fit-content;
}
