.cssMaskingGrid {
    display: grid;
}

.cssGridMask,
.cssGridImage {
    grid-column: 1;
    grid-row: 1;
}

.cssGridMask {
    z-index: 2;
}

.cssGridImage {
    z-index: 1;
}
#DailyReportsContainer {
    display: grid;
    
}
#CurrentReportBox, #PaginationNavBar {
    grid-column: 1;
    grid-row: 1;
}
#CurrentReportBox {
    height: 100%;
    z-index: 1;
}
#PaginationNavBar {
    z-index: 2;
    width: 100%;
    position:absolute;
    bottom: 0;
    background-color: #FFFFFF2B;
}