.headerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
.contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.reportsWrapper {
    position: static;
    width: 100%;
    display: flex;
}
.weatherPage {
    width: 100%;
    height: 100%;
}
.backgroundLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
