.cardsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardsListWrapper {
    width: 100%;
    heigth: 100%;
    min-height: 10rem;
    position: relative;
    z-index: 10;
}
.cardWrapper {
    flex: 1;
    margin: 0.5rem;
}
