@keyframes clouds-loop {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
.clouds {
    pointer-events: none;
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    animation: clouds-loop 60s linear infinite;
    -webkit-animation: clouds-loop 60s linear infinite;
    will-change: transform;
}

.cloud {
    position: absolute;
    transition: fill 2s ease;
    overflow: visible;
}
