@keyframes clouds-loop {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(51%);
    }
}
.clouds {
    pointer-events: none;
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud5 {
    position: absolute;
    transition: fill 2s ease;
    //animation: clouds-loop 100s infinite linear;
}
