$simple_icon_bg_color: transparent;
$icon_border_color: #f8f5f2;
$color_moon: #fff;
$color_crater: #cdcdcd;
$color_crater_edge: #c0c0b3;
$size_icon: 7rem;

@mixin translate_center {
    transform: translate(-50%, -50%);
}

.iconWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 9rem;
}

.moonIcon {
    $border-color: $icon_border_color;
    $background-color: $simple_icon_bg_color;
    position: relative;
    background-color: $background-color;
    width: $size_icon;
    height: $size_icon;
    border-radius: 50%;
    border: 0.5rem solid $icon_border_color;
    box-shadow: 0 0 1rem $border-color;
    z-index: 3;
    margin: 1rem;

    .crater {
        position: absolute;
        background-color: transparent;
        border-radius: 50%;
        border: 0.3rem solid $icon_border_color;
        @include translate_center;
        z-index: 2;
        &:nth-of-type(1) {
            width: 28%;
            height: 28%;
            left: 31%;
            top: 40%;
        }
        &:nth-of-type(2) {
            width: 24%;
            height: 24%;
            left: 70%;
            top: 70%;
        }
        &:nth-of-type(3) {
            width: 11%;
            height: 11%;
            left: 84%;
            top: 37%;
        }
        &:nth-of-type(4) {
            width: 16%;
            height: 16%;
            left: 65%;
            top: 20%;
        }
        &:nth-of-type(5) {
            width: 17%;
            height: 17%;
            left: 28%;
            top: 78%;
        }
    }
}

.sunIcon {
    $border-color: $icon_border_color;
    $background-color: $simple_icon_bg_color;
    $ray_color: black;
    $ray_length: 1rem;
    $ray_offset: 1rem;
    $ray_thickness: 10deg;
    $ray_numbers: 8;
    position: relative;
    background-color: $background-color;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.5rem solid $border-color;
    z-index: 3;
    display: inline-block;
    margin: calc($ray_length + $ray_offset + 10px);
    &:before {
        content: '';
        position: absolute;
        top: calc(-1 * $ray_length - $ray_offset);
        bottom: calc(-1 * $ray_length - $ray_offset);
        left: calc(-1 * $ray_length - $ray_offset);
        right: calc(-1 * $ray_length - $ray_offset);
        border-radius: inherit;
        background: repeating-conic-gradient(
            from calc(-1 * $ray_thickness / 2),
            $ray_color 0 calc($ray_thickness - 2deg),
            transparent calc($ray_thickness) calc(360deg / $ray_numbers - 2deg),
            $ray_color calc(360deg / $ray_numbers)
        );
        -webkit-mask: radial-gradient(
            farthest-side,
            transparent calc(100% - $ray_length),
            #fff calc(100% - $ray_length)
        );
        mask: radial-gradient(
            farthest-side,
            transparent calc(100% - $ray_length),
            #fff calc(100% - $ray_length)
        );
    }
}

.box {
    --s: 1rem; /* length */
    --o: 1rem; /* offset */
    --w: 10deg; /* thickness */
    --n: 8; /* numbers*/
    --c: black; /* color */

    margin: calc(var(--s) + var(--o) + 10px);
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: 0.5rem solid black;
    border-radius: 50%;
    position: relative;
}
.box::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--s) - var(--o));
    bottom: calc(-1 * var(--s) - var(--o));
    left: calc(-1 * var(--s) - var(--o));
    right: calc(-1 * var(--s) - var(--o));
    border-radius: inherit;
    background: repeating-conic-gradient(
        from calc(-1 * var(--w) / 2),
        var(--c) 0 calc(var(--w) - 2deg),
        transparent calc(var(--w)) calc(360deg / var(--n) - 2deg),
        var(--c) calc(360deg / var(--n))
    );
    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - var(--s)),
        #fff calc(100% - var(--s))
    );
    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - var(--s)),
        #fff calc(100% - var(--s))
    );
}
