$dark-primary: #0025cc;
$dark-background: #020010;
$dark-secondary: #050029;
$dark-text-primary: #dad9d7;
$dark-text-secondary: #94908d;
$dark-accent: #0e013e;
$dark-accent-secondary: #1a005d;
$dark-blue: #2206b2;
$light-primary: #4769ff;
$light-background: #edebff;
$light-secondary: #dad6ff;
$light-text-primary: #151513;
$light-text-secondary: #2a2928;
$light-accent: #b09bfd;
$light-accent-secondary: #a17aff;
$ligh-blue: #3812f8;
