$dark-background: #020010;
$dark-secondary: #050029;
$dark-text-primary: #dad9d7;
$dark-text-secondary: #94908d;
$dark-accent: #0e013e;
$light-background: #edebff;
$light-secondary: #dad6ff;
$light-text-primary: #2a2927;
$light-text-secondary: #74706d;
$light-accent: #b09bfd;
