$dark-primary: #001a8f;
$dark-background: #020010;
$dark-secondary: #050029;
$dark-text-primary: #dad9d7;
$dark-text-secondary: #94908d;
$dark-accent: #0e013e;
$dark-accent-secondary: #1a005d;
$dark-blue: #2206b2;
$light-primary: #4769ff;
$light-background: #edebff;
$light-secondary: #dad6ff;
$light-text-primary: #151513;
$light-text-secondary: #2a2928;
$light-accent: #b09bfd;
$light-accent-secondary: #a17aff;
$light-blue: #3812f8;
$morning-horizon: #d46bdb;
$morning-sky: #7377ef;
$day-horizon: #2b30cd;
$day-sky: #0379ef;
$evening-sky: #44038f;
$evening-horizon: #a975f3;
$night-horizon: #a975f3;
$night-sky: #0a0e86;
