@use './_variables.scss' as *;

:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --background: #{$light-background};
    --text-primary: #{$light-text-primary};
    --text-secondary: #{$light-text-secondary};
    --accent: #{$light-accent};
    $background: var(--background);
    $text-primary: var(--text-primary);
    $text-secondary: var(--text-secondary);
    $accent: var(--accent);
    background-color: $background;
    color: $text-primary;
}

@media (prefers-color-scheme: dark) {
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

[data-theme='dark'] {
    --background: #{$dark-background};
    --text-primary: #{$dark-text-primary};
    --text-secondary: #{$dark-text-secondary};
    --accent: #{$dark-accent};
}
