
.PaginationPageContainer {
    flex-grow: 1;
    overflow: hidden;
    
}
/* #PaginationList {

} */
.PaginationElemWrapper {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.PaginationPageImage {
    background-size: cover;

}